 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/scripts.js"></script>
    <script src="/html2pdf.js"></script>
    <script src="/dateprefixer.js"></script>
   <script>
        
    
        function myFunction(){
            $(':input').removeAttr('placeholder');
            $(document).ready(function(){
   
})
$('meta[name="viewport"]').prop('content', 'width=1440');
setTimeout(function(){
  var element = document.getElementById('element-to-print');
       var opt = {
  margin:       0,
  filename:     'myfile.pdf',
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas:  { scale:1 },
  jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
};

// New Promise-based usage:
html2pdf().from(element).set(opt).save();
}, 2000);
           
}
</script>

</body>
</html>