 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="scripts.js"></script>
    <script src="html2pdf.js"></script>
    <script src="dateprefixer.js"></script>
    <script src="loadingpage.js"></script>
   <script>
      function toggleDiv(id) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "flex" : "none";
}
   var element = document.getElementById('element-to-print');
    var opt = {
        margin: 0,
        filename: 'myfile.pdf',
        image: {
            type: 'jpeg',
            quality: 0.98
        },
        html2canvas: {
            scale: 1
        },
        jsPDF: {
            unit: 'mm',
            format: 'a4',
            orientation: 'p'
        },
       pagebreak: { mode: ['legacy','avoid-all'] }
    }
function downloadpdf() {
 

    html2pdf().from(element).set(opt).save().then(() => {
        $("button").show()

        $('meta[name="viewport"]').prop('content', 'width=device-width, initial-scale=1, shrink-to-fit=no');

    });


}

function myFunction(callback) {

    var reqlength = $('.isrequired').length;
    console.log(reqlength);
    var value = $('.isrequired').filter(function() {
        console.log(this.value)
        return this.value != '';
    });

    if (value.length >= 0 && (value.length !== reqlength)) {
        var danger = document.querySelector('.alert-danger');
        danger.style.display="flex"
        $('.isrequired').css({
            'border': '1px solid red'
        });
        // return
    } else {
        var danger = document.querySelector('.alert-danger');
        var success = document.querySelector('.alert-success');
         success.style.display = "flex"
        danger.style.display = "none" 
    }

    $(':input').removeAttr('placeholder');
    $("button").hide()
    $('.isrequired').css({
        'border': '1px solid #ced4da'
    });
    toggleDiv('loader')
    $('meta[name="viewport"]').prop('content', 'width=1340');
    pageloader()
    callback()
    //     setTimeout(function(){


    // // New Promise-based usage:
    // html2pdf().from(element).outputPdf().then(function(pdf) {
    //     //This logs the right base64
    //                 newpdf=btoa(pdf);

    //                 $.post('./setup', {payload: newpdf}, function(result) {
    //                 console.log('done');
    //                 // location.reload();

    // });
    // })
    // }, 1000);


}
</script>


</body>
</html>