
   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/scripts.js"></script>
    <script src="/html2pdf.js"></script>
   <script>
        
    

        function myFunction(){
           var element = document.getElementById('element-to-print');
           html2pdf().from(element).outputPdf().then(function(pdf) {
    //This logs the right base64
            const newpdf = btoa(pdf);
            // var newpdf = pdf.toString('base64');
            $.post('./setup', newpdf, function(result) {
                console.log('result', result);
            }); 
        }); 
}
    </script>
</body>
</html>