
<div class="contact container-fluid collapse" id="collapseExample">

<h2 class="bg-secondary">EMPLOYMENT FOR PAST 10 YEARS</h2>
<div class="row mt-2">
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Third Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="html2pdf__page-break"></div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Position Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>
   <div class="row mt-2" >
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Fourth Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
      <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Fifth Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>
</div>
</div>
<div>
</div>
<div class="mb-3">
<button class="collapsed" data-toggle="collapse" href="#collapseExample" >
  <!--You can put any valid html inside these!-->
  <span class="if-collapsed">Add more Employee</span>
  <span class="if-not-collapsed">Hide</span>
</button>
</div>
</div>




