<div class="container-fluid">
   <h2 class="bg-secondary">Release</h2>
   <h3 style="border:2px solid black">APPLICANT:SIGN AT THE SPECIFIED BLANK,ONLY</h3>
   <div class="row">
      <div class="col-12" style="text-align:left">
         <p>Having made application for a driving with <input type="text"> I request that their representative be 
            informed as to my past substance abuse testing history. I hereby authorize the investigation of this past history to ascertain
            any and all information which may concern my past employment, as provided under DOT regulation 
            (382.413) concerning previous alcohol and controlled substance testing records and any refusal to submit to such testing during the past three(3) years.
         </p>
         <p>You and your company are hereby released from any and all liability which may result form furnishing such information.</p>
      </div>
      <div class="col-md-6 col-12">
         <div class="mb-3 ">
            <div class="mystyles mt-3">
               <strong>***Applicant's Signature***</strong>
            </div>
            <div>
            </div>
            <section class="signature-component w-100">
               <canvas id="signature-pad-7" style="height:80px; border:none; border-bottom: 1px solid;" class=" w-100"></canvas>
               <center><button id="clear-7">Redo Signature</button></center>
            </section>
         </div>
      </div>
      <div class="col-md-6 col-12">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-md-6 col-12">
         <div class="mb-3 ">
            <div class="mystyles mt-3">
               Witness's signature
            </div>
            <div>
            </div>
            <section class="signature-component w-100">
               <canvas id="signature-pad-8" style="height:80px; border:none; border-bottom: 1px solid;" class=" w-100"></canvas>
               <center><button id="clear-8">Redo Signature</button></center>
            </section>
         </div>
      </div>
      <div class="col-md-6 col-12">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <p>Alcohol test results of .04 or greater during the past three (3) years</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <p>Positive controlled substance (drug) test results during the past three (3) years</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="html2pdf__page-break"></div>
      <div class="col-md-6 col-12 mb-2 mt-3">
         <div class="mystyles">
            <p>Refusal to be tested for either alcohol or controlled substances during the past three (3) years</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2 mt-3">
         <div class="mystyles">
            <p>Has the applicant violated any other DOT mandated drug or alcohol regulation?</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <p>This applicant has not been screened for alcohol or controlled substances while employed by my company, or the date of the last test of this kind is greater than three (3) years ago.</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <p>Has the applicant tested positive or refused substance abuse screening with a <br>previous employer?</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-12 mb-2">
         <div class="mystyles">
            <p>If so, with Whom?</p>
         </div>
         <div>
            <input class="form-control" type="text">
         </div>
      </div>
   </div>
   <div class="row" style="border:2px solid; border-radius:5px">
      <h2 class="bg-secondary" style="width:100%">Release</h2>
      <div class="col-12" >
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-12 mt-4" style="text-align:left">
         <p>I, <input type="text"> have been informed that my blood and/or urine 
            is being screened for the abuse of alcohol and/or drugs.
         </p>
         <p>I consent, of my own free will, to have test specimens taken before a witness, and the test results given to my employer.</p>
      </div>
      <div class="col-md-6 col-12">
         <div class="mb-3 ">
            <div class="mystyles mt-3">
               <strong>Signed</strong>
            </div>
            <div>
            </div>
            <section class="signature-component w-100">
               <canvas id="signature-pad-9" style="height:80px; border:none; border-bottom: 1px solid;" class=" w-100"></canvas>
               <center><button id="clear-9">Redo Signature</button></center>
            </section>
         </div>
      </div>
      <div class="col-md-6 col-12">
         <div class="mb-3 ">
            <div class="mystyles mt-3">
               Witness
            </div>
            <div>
            </div>
            <section class="signature-component w-100">
               <canvas id="signature-pad-10" style="height:80px; border:none; border-bottom: 1px solid;" class=" w-100"></canvas>
               <center><button id="clear-10">Redo Signature</button></center>
            </section>
         </div>
      </div>
   </div>
   <h5 class="mt-5">THE BELOW DISCLOSURE AND AUTHORIZATION LANGUAGE IS FOR MANDATORY USE BY ALL
      ACCOUNT HOLDERS
   </h5>
   <h5>IMPORTANT DISCLOSURE </h5>
  <div class="html2pdf__page-break"></div>
   <h5>REGARDING BACKGROUND REPORTS FROM THE PSP <i>Online Service</i></h5>
   <div style="text-align:left">
      <p>In connection with your application for employment with <input type="text">(“Prospective Employer”), Prospective
         Employer, its employees, agents or contractors may obtain one or more reports regarding your driving, and safety inspection history
         from the Federal Motor Carrier Safety Administration (FMCSA)
      </p>
      <p>When the application for employment is submitted in person, if the Prospective Employer uses any information it obtains from FMCSA
         in a decision to not hire you or to make any other adverse employment decision regarding you, the Prospective Employer will provide
         you with a copy of the report upon which its decision was based and a written summary of your rights under the Fair Credit Reporting
         Act before taking any final adverse action. If any final adverse action is taken against you based upon your driving history or safety
         report, the Prospective Employer will notify you that the action has been taken and that the action was based in part or in whole on this
         report.
      </p>
      <p>When the application for employment is submitted in person, if the Prospective Employer uses any information it obtains from FMCSA
         in a decision to not hire you or to make any other adverse employment decision regarding you, the Prospective Employer will provide
         you with a copy of the report upon which its decision was based and a written summary of your rights under the Fair Credit Reporting
         Act before taking any final adverse action. If any final adverse action is taken against you based upon your driving history or safety
         report, the Prospective Employer will notify you that the action has been taken and that the action was based in part or in whole on this
         report.
      </p>
      <p>When the application for employment is submitted by mail, telephone, computer, or other similar means, if the Prospective Employer
         uses any information it obtains from FMCSA in a decision to not hire you or to make any other adverse employment decision regarding
         you, the Prospective Employer must provide you within three business days of taking adverse action oral, written or electronic
         notification: that adverse action has been taken based in whole or in part on information obtained from FMCSA; the name, address, and
         the toll free telephone number of FMCSA; that the FMCSA did not make the decision to take the adverse action and is unable to provide
         you the specific reasons why the adverse action was taken; and that you may, upon providing proper identification, request a free copy
         of the report and may dispute with the FMCSA the accuracy or completeness of any information or report. If you request a copy of a
         driver record from the Prospective Employer who procured the report, then, within 3 business days of receiving your request, together
         with proper identification, the Prospective Employer must send or provide to you a copy of your report and a summary of your rights
         under the Fair Credit Reporting Act.
      </p>
      <p>Neither the Prospective Employer nor the FMCSA contractor supplying the crash and safety information has the capability to correct
         any safety data that appears to be incorrect. You may challenge the accuracy of the data by submitting a request to
         https://dataqs.fmcsa.dot.gov. If you challenge crash or inspection information reported by a State, FMCSA cannot change or correct this
         data. Your request will be forwarded by the DataQs system to the appropriate State for adjudication.
      </p>
      <p>Any crash or inspection in which you were involved will display on your PSP report. Since the PSP report does not report, or assign, or
         imply fault, it will include all Commercial Motor Vehicle (CMV) crashes where you were a driver or co-driver and where those crashes
         were reported to FMCSA, regardless of fault. Similarly, all inspections, with or without violations, appear on the PSP report. State
         citations associated with Federal Motor Carrier Safety Regulations (FMCSR) violations that have been adjudicated by a court of law
         will also appear, and remain, on a PSP report.
      </p>
      <p>The Prospective Employer cannot obtain background reports from FMCSA without your authorization</p>
   </div>
   <h5 class="mt-3">AUTHORIZATION</h5>
   <div style="text-align:left">
      <p>If you agree that the Prospective Employer may obtain such background reports, please read the following and sign below:</p>
      <p>I authorize <input type="text"/> (“Prospective Employer”) to access the FMCSA Pre-Employment Screening Program (PSP)
         system to seek information regarding my commercial driving safety record and information regarding my safety inspection history. I
         understand that I am authorizing the release of safety performance information including crash data from the previous five (5) years
         and inspection history from the previous three (3) years. I understand and acknowledge that this release of information may assist the
         Prospective Employer to make a determination regarding my suitability as an employee.
      </p>
      <p>I further understand that neither the Prospective Employer nor the FMCSA contractor supplying the crash and safety information has
         the capability to correct any safety data that appears to be incorrect. I understand I may challenge the accuracy of the data by
         submitting a request to https://dataqs.fmcsa.dot.gov. If I challenge crash or inspection information reported by a State, FMCSA cannot
         change or correct this data. I understand my request will be forwarded by the DataQs system to the appropriate State for adjudication
      </p>
      <p>I understand that any crash or inspection in which I was involved will display on my PSP report. Since the PSP report does not report,
         or assign, or imply fault, I acknowledge it will include all CMV crashes where I was a driver or co-driver and where those crashes
         were reported to FMCSA, regardless of fault. Similarly, I understand all inspections, with or without violations, will appear on my
         PSP report, and State citations associated with FMCSR violations that have been adjudicated by a court of law will also appear, and
         remain, on my PSP report. 
      </p>
    
   </div>
   <div class="row">
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-12">
         <div class="mb-3 ">
            <div class="mystyles mt-3">
               Signature of the applicant
            </div>
            <div>
            </div>
            <section class="signature-component w-100">
               <canvas id="signature-pad-11" style="height:200px;" class=" w-100"></canvas>
               <center><button id="clear-11">Redo Signature</button></center>
            </section>
         </div>
      </div>
   </div>
   <div style="text-align:left">
      <p>NOTICE: This form is made available to monthly account holders by NIC on behalf of the U.S. Department of Transportation,
         Federal Motor Carrier Safety Administration (FMCSA). Account holders are required by federal law to obtain an Applicant’s written
         or electronic consent prior to accessing the Applicant’s PSP report. Further, account holders are required by FMCSA to use the
         language contained in this Disclosure and Authorization form to obtain an Applicant’s consent. The language must be used in whole,
         exactly as provided. Further, the language on this form must exist as one stand-alone document. The language may NOT be included
         with other consent forms or any other language.
      </p>
      <p>NOTICE: The prospective employment concept referenced in this form contemplates the definition of “employee” contained at 49
         C.F.R. 383.5.</p>
   </div>
   <h2 class="bg-secondary">DISCLOSURE & RELEASE</h2>
   <div style="text-align:left">
   <p>In connection with my appllication for employment (including contract for services) with you, I understand that consumer reports which may contain public record information may be requested from DAC/USIS Services, Tulsa, Oklahoma. These reports may include the following types of information: names and dates of previous employers, reason for termination of employment, work experience, accidents, etc. I further understand that workers' compensation claims, credit, bankruptcy proceedings, criminal records, etc., from federal, state and other agencies which maintain such records; as well as information from DAC/USIS concerning previous driving record requests made by others from such state agencies, and state provided driving records

</p>
   <p><strong>I AUTHORIZE, WITHOUT RESERVATION, ANY PARTY OR 
   AGENCY CONTACTED BY THIS COMPANY AND/OR DAC/USIS TO FURNISH THE ABOVE­MENTIONED INFORMATION.</strong></p>
   <p>I have the right to make a request to DAC/USIS, upon proper identification, to request the nature and substance of all information in its file on me at the time of my request, including the sources of informtion; and the recipients of any reports on me which DAC/USIS has previously furnished within the two year period preceding my request. I hereby consent to your obtaining the above information from DAC/USIS, and I agree that such information which DAC/USIS has or obtains, and my employment history with you if I am hired, will be supplied by DAC/USIS 
   to other companies which subscribe to DAC/USIS Services.</p>
   <p>I hereby authurize procurement of consumer report(s). If hired (or contracted), this authorization shall remain on file and shall serve as ongoing authorization for you to procure consumer reports at any time during my employment (or contract) period</p>
   </div>
  
</div>

</section>
<div class="alert alert-danger" role="alert" style="display:none">
  Required fields must be filled for your application to be submitted 
</div>

<div class="alert alert-success" role="alert" style="display:none">
  Your application has been submitted
</div>