<div class="container-fluid mt-3">
   <h2 class="bg-secondary">DRIVER EXPERIENCE & QUALIFICATION</h2>
   <mark class="mb-2">Answer the questions in this section only if applying for a driver position</mark>
   <h6>Driver Licenses held in past 3 years must be shown</h6>
</div>
<div class="contact container-fluid">
<div class="row mt-2">
   <div class="col-12">
      <table style="width:100%" class="mb-3">
         <tr>
            <th>State</th>
            <th>License No.</th>
            <th>Type</th>
            <th>Expiration date</th>
         </tr>
         <tr>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
         </tr>
         <tr>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
         </tr>
         <tr>
           <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
         </tr>
         <tr>
           <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
         </tr>
      </table>
   </div>
   <div class="col-md-4 col-sm-12">
      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">A. Have you ever been denied a license, permit or privilege to operate a motor vehicle?</span>
         </div>
         <div class="checkBoxes" style="width:100%">
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio1" value="option1">
               <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio2" value="option2">
               <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4 col-sm-12">
      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">B. Has any license, permit or privilege ever been suspended or revoked?</span>
         </div>
         <div class="checkBoxes" style="width:100%">
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio1" value="option1">
               <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio2" value="option2">
               <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4 col-sm-12">
      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">C. Have you ever been disqualified for violations of the Federal Motor Carrier Safety Regulations?</span>
         </div>
         <div class="checkBoxes" style="width:100%">
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio1" value="option1">
               <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio2" value="option2">
               <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
         </div>
      </div>
   </div>
   <h6 class="col-12">If you have answered "yes" to A, B, C attach a statement giving details.</h6>
   <div class="html2pdf__page-break"></div>
   <h5 class="col-12 mt-3">Driving Experience</h5>
   <div class="col-12" style="overflow-x:auto;">
      <table style="width:100%" class="mb-3">
         <tr>
            <th width="20%">Class of Equipment</th>
            <th width="20%">Type of Equipment (Van, Tank, Flat, etc.)</th>
            <th width="25%">Start Date</th>
            <th width="25%">End Date</th>
            <th width="10%">Approx total miles</th>
         </tr>
         <tr>
            <td><div contenteditable>Straight Truck</div></td>
           <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
            <td><div contenteditable></div></td>
         </tr>
         <tr>
            <td>Tractor and Semi-trailer</td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
         </tr>
         <tr>
            <td>Twin Trailers</td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
         </tr>
         <tr>
            <td>Other</td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
         </tr>
      </table>
   </div>
   <div class="col-12">
      <div class="mystyles">
         List states operated in during the last five years
      </div>
      <div>
         <textarea class="form-control w-100  mb-3" aria-label="With textarea"></textarea>
      </div>
   </div>
   <div class="col">
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>
   <div class="col-12">
      <div class="mystyles">
         List special courses or training that will help you as a driver
      </div>
      <div>
         <textarea class="form-control w-100  mb-3" aria-label="With textarea"></textarea>
      </div>
   </div>
   <div class="col-12">
      <div class="mystyles">
         List special courses or training that will help you as a driver
      </div>
      <div>
         <textarea class="form-control w-100" aria-label="With textarea"></textarea>
      </div>
   </div>
</div>
<h6 class="mt-3">Accident Review for past 3 years (Attach separate sheet of paper if more space is needed)</h6>
<div class="row">
<div class="col-12">
   <table style="width:100%" class="mb-3">
      <tr>
         <th width="10%">Dates</th>
         <th width="30%">Nature of Accident (Head-on, Rear-end, Upset, etc.)</th>
         <th width="30%">Fatalities</th>
         <th width="30%">Injuries</th>
      </tr>
      <tr>
         <td>Last Accident</td>
         <td contenteditable></td>
         <td contenteditable></td>
         <td contenteditable></td>
      </tr>
      <tr>
         <td>Next Previous</td>
         <td contenteditable></td>
         <td contenteditable></td>
         <td contenteditable></td>
      </tr>
      <tr>
         <td>Next previous</td>
         <td contenteditable></td>
         <td contenteditable></td>
         <td contenteditable></td>
      </tr>
   </table>
   <div class="html2pdf__page-break"></div>
   <h6 class="mt-3">Traffic Convictions and Forfritures for the past 3 years other than parking violations</h6>
   <div class="row">
      <div class="col-12">
         <table style="width:100%" class="mb-3">
            <tr>
               <th width="20%">Location</th>
               <th width="25%">Date</th>
               <th width="30%">Charge</th>
               <th width="25%">Penalties</th>
            </tr>
            <tr>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
            </tr>
            <tr>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
            </tr>
            <tr>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
            </tr>
            <tr>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
            </tr>
            <tr>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
               <td contenteditable></td>
            </tr>
            
            
         </table>
      </div>
   </div>
   <h6 class="mt-3">EMPLOYMENT RECORD</h6>
   <h6 class="text-left">The U.S. Department of Transportation requires that driver applicants show all employment for the past three years. Effective July, 1987 they must also show commerical driver employment for the seven years immediately preceeding this three year period. 391.21(b)(10),(11).</p>
   <h6 class="text-left"> Start with current or last position, including military experience and work backward (Attach a separate document if necessary):</p>
   <div class="row">
        <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Current or Last Employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>

   <div class="col-md-6 col-12 mb-2 ">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Position Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>
   
<div class="row">
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Prior Employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="html2pdf__page-break"></div>
   <div class="col-md-6 col-12 mb-2 mt-3">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2 mt-3">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="html2pdf__page-break"></div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
<div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
   </div>
</div>

