
<div class="contact container-fluid " >


<div class="mb-3">
<button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample0">
        <span class="if-collapsed">Add Employment Record</span>
    </button>
</div>
<div class="row mt-2 collapse" id="collapseExample0">
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Prior Employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2 mt-3">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2 mt-3">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
<div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            </div>
        <div class="col-12 mb-3">
      <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample0">Remove Record</button>
        <button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample1">Add Employment Record</button>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>

   </div>
<div class="row mt-2 collapse" id="collapseExample1">
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Third Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <<div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Position Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mt-3 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 mb-3">
  <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample1">Remove Record</button>
        <button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample2">Add Employment Record</button>
</div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
   </div>
   <div class="row mt-2 collapse fourth" id="collapseExample2" >
<div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Fourth Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
        <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text" style="height:40px"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            </div>
            <div class="col-12 mb-3">
  <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample2">Remove Record</button>
        <button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample3">Add Employment Record</button>
</div>
</div>
        </div>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />
       
<div>
</div>
</div>
</div>
</div>

<div class="contact container-fluid " >
<div class="row mt-2 collapse fifth" id="collapseExample3" >

    <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Fifth Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
         <button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample4">Add Employment Record</button>
        <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample3">Remove Record</button>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />


</div>
<div class="row mt-2 collapse" id="collapseExample4" >

    <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Sixth Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample4">Remove Record</button>
         <button class="newBtn collapsed" data-toggle="collapse" href="#collapseExample5">Add Employment Record</button>
      <hr style="width: 100%; color: black; background-color:#e9ecef;" />


</div>
<div class="row mt-2 collapse" id="collapseExample5" >

    <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Seventh Last employer</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <h6>Supervisor's Name</h6>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
  <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Address</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Phone</p>
      </div>
      <div>
         <input class="form-control" type="tel" placeholder="123-456-7890">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Postion Held</p>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
   </div>
   <div class="col-md-6 col-12 mb-2">
      <div class="mystyles">
         <p>Wages($)</p>
      </div>
      <div>
         <input class="form-control" type="number" placeholder="In dollars">
      </div>
   </div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>Reason for leaving</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End date</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <button class="removeBtn collapsed" data-toggle="collapse" href="#collapseExample5">Remove Record</button>


</div>
