


<div class="container-fluid">
    <h2 class="bg-secondary">APPLICATION</h2>
    <div class="location">
        <p>P.O BOX 357</p>
        <p>BAY CITY MI 48707-0357</p>
        <p>989 893 3505</p>
        <h5 class="bg-secondary">Please retun by Fax: 989 893 3151</h5>
    </div>

<div class="instructions row">
    <div class="col-1" style="text-align:left">
        INSTRUCTIONS:
    </div>
    <div class="col-11"></div>
    <div class="col-1"></div>
    <div class="col-10">Complete all the informtaion requested. You may be asked to provide addtional information on another form. This application will be kept on file.</div>
    <div class="col-1"></div>
    <hr>

</div>

    <div class="row mb-3 ">
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text required">Name</span>
                </div>
                <input type="text" placeholder="First" class="form-control isrequired expand" style="z-index:1">
                <input type="text" placeholder="Middle" class="form-control expand">
                <input type="text" placeholder="Last" class="form-control isrequired expand">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1">Date</span>
                </div>
                <input type="date" class="form-control isrequired" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    
        <div class="col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1">Phone</span>
                </div>
                <input type="tel" placeholder="123-456-7890" class="form-control isrequired">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1">Street</span>
                </div>
                                <input type="text" placeholder="Street" class="form-control isrequired">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="">Current Address</span>
                </div>
                <input type="number" placeholder="zip code" class="form-control isrequired expand" aria-label="Username" aria-describedby="basic-addon1">

                <input type="text" placeholder="City" class="form-control isrequired expand">
                <input type="text" placeholder="State" class="form-control isrequired expand">
            </div>
        </div>
        
        <div class="col-12">
            <div class="alert alert-info font-weight-bold mb-2" role="alert" style="text-align:center">
                *If at the above residence less than three years, list below all residences for the past three years.
            </div>
        </div>
        </div>
        <button class="newBtn collapsed" data-toggle="collapse" href="#addAddress1">
        <span class="if-collapsed">Add previous Address</span>
    </button>
        <div class="row collapse" id="addAddress1">
        <div class="col-sm-12 col-md-6 mb-3 mt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text d-flex">Previous Address</span>
                </div>
                <input type="text" placeholder="Street" class="form-control expand">
                <input type="text" placeholder="City" class="form-control expand">
                <input type="text" placeholder="State" class="form-control expand">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Zip code</span>
                </div>
                <input type="number" placeholder="zip code" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
        </div>
        <button class="removeBtn collapsed mb-3" data-toggle="collapse" href="#addAddress1">Remove addess</button>
        <button class="newBtn collapsed" data-toggle="collapse" href="#addAddress2">Add previous Address</button>
        </div>
        <div class="row collapse" id="addAddress2">
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Previous Address</span>
                </div>
                <input type="text" placeholder="Street" class="form-control expand">
                <input type="text" placeholder="City" class="form-control expand">
                <input type="text" placeholder="State" class="form-control expand">
            </div>
           
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Zip code</span>
                </div>
                <input type="number" placeholder="zip code" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
         <button class="removeBtn collapsed mb-3" data-toggle="collapse" href="#addAddress2">Remove Address</button>
        <div class="col-12">
            <div class="alert alert-info font-weight-bold mb-2" role="alert" style="text-align:center">
               Application Information
            </div>
        </div>
        <div class="col-md-4 col-sm-12 noWrap">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Position applied for</span>
                </div>
                <div class="checkBoxes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Temporary</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Full Time</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="input-group mb-3">
                <div class="mystyles expand">
                    <span>Who reffered you?</span>
                    </div>
                    <input type="text" placeholder="First and Last name" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="input-group mb-2 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text " id="">Rate of pay expected</span>
                    <span class="input-group-text " id="">$</span>
                </div>
                <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        
        <div class="col-md-4 col-sm-12 mt-3">
        
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Have you worked for this company before?</span>
                </div>
                <input type="text" placeholder="yes/no" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 col-sm-12 mt-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start and End Date</span>
                </div>
                <input type="date" class="form-control" placeholder="From" aria-label="Username" aria-describedby="basic-addon1">
                <input type="date" class="form-control" placeholder="To" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Where?</span>
                </div>
                <input type="text" placeholder="location" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Rate of pay</span>
                    <span class="input-group-text " id="">$</span>
                </div>
                <input type="number" placeholder="In dollar" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Position</span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
         
        <div class="col-12 mb-2">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Reason for leaving</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
       
        <div class="col-12 mb-3 mt-3">
            <div class="input-group">
                <div class="mystyles">
                    <span>Names of relatives employed by this company</span>
                </div>
                <textarea class="form-control" placeholder="Seperated by comma" aria-label="With textarea"></textarea>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 mt-3">
            <div class="input-group mb-3">
                <div class="mystyles">
                    <span>Are you currently employed</span>
                </div>
                <div class="checkBoxes" style="width:100%">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 mt-3"></div>
        <div class="col-md-6 col-sm-12 mt-3">
               <div class="mystyles">
         <span> If not, how long since leaving last employment</span>
      </div>
      <div>
         <input class="form-control" type="text">
      </div>
    </div>
    <hr>
</div>
</div>
<div class="container-fluid">
    <div class="row">
            <div class="col-12">
            <div class="alert alert-info font-weight-bold mb-2" role="alert" style="text-align:center">
               EDUCATION
            </div>
        </div>
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Highest grade level completed</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected> Not enrolled</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                    <option value="7">Seven</option>
                    <option value="8">Eight</option>
                    <option value="9">Nine</option>
                    <option value="10">Ten</option>
                    <option value="11">Eleven</option>
                    <option value="12">Twelve</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">College</span>
                </div>
                <div class="checkBoxes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">4</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="mystyles ">
                    <span>Name of last school/college attended</span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Address of the school</span>
                </div>
                <input type="text" placeholder="City" class="form-control expand">
                <input type="text" placeholder="State" class="form-control expand">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Zip code</span>
                </div>
                <input type="number" placeholder="zip code" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
         <div class="col-12">
      <div class="mystyles">
         List special courses or training that will help you as a driver
      </div>
      <div>
         <textarea class="form-control w-100  mb-3" aria-label="With textarea"></textarea>
      </div>
   </div>
   <div class="col-12 mb-3">
      <div class="mystyles">
         List special courses or training that will help you as a driver
      </div>
      <div>
         <textarea class="form-control w-100" aria-label="With textarea"></textarea>
      </div>
   </div>
   <div class="col-12"><h2 class="bg-secondary">PLATFORM EXPERIENCE AND QUALIFICATIONS</h2></div>
   <div class="col-12 mb-2">
      <div class="mystyles">
         <p>List types of platform experience and number of years of each</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-12 mb-2">
      <div class="mystyles">
         <p>List platform equipment you can operate(lift truck,etc)</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
      <div class="col-12 mb-2">
      <div class="mystyles">
         <p>List courses or training in platform work</p>
      </div>
      <div>
         <textarea class="form-control" type="text"></textarea>
      </div>
      </div>
                <div class="col-12">
            <div class="alert alert-info font-weight-bold mb-2" role="alert" style="text-align:center">
               GENERAL
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Have you ever been bonded?</span>
                </div>
                <div class="checkBoxes" aria-describedby="passwordHelpBlock">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOption3" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOption3" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted ">
                <mark>(Answer only if a job requirement)</mark>
            </small>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text " id="basic-addon1">Name of the bonding company</span>
                </div>
                <input type="text" class="form-control expand" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3" aria-describedby="convictionhelp">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="basic-addon1">Have you ever been convicted a felony?</div>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>

            </div>
            <small id="convictionhelp" class="form-text text-muted mb-3">
            <mark>If yes expalin fully on a seperate sheet of paper. Conviction of a crime is not an automatic bar to employment - all circumstances will be considered.</mark>
            </small>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Have you ever worked for this company under another name?</span>
                </div>
                <div class="checkBoxes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">If so, under what name?</span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

    </div>
</div>
<div class="container-fluid border border-dark mt-3">
    <h4 class="d-flex justify-content-center mt-3"><u>DRIVER EXPERIENCE AND QUALIFICATION</u></h4>
    <h6 class="d-flex justify-content-center">Answer this question in this section only if applying for a driver position.</h6>
    <div class="row">
        <div class="col-md-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Date of Birth</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-7">
            <h6>The U.S. Department of Transportaion requires that driver applicants state their date of birth</h6>
            <p>sec 391.21(p)(2)</p>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Social Security No.</span>
                </div>
                <input type="number" class="form-control isrequired" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <h4 class="d-flex justify-content-center"><u>PHYSICAL HISTORY</u></h4>
    <h6 style="text-align:left">The U.S. Department of Transportation requires that all driver applicants pass certain physical tests before they are hired to drive a motor carrier. FMCSR 391 Subpart E.</h6>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Date of last Depeartment of Transportation prescribed physical examination</span>
                </div>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Have you ever been granted a waiver under section 391.49 of the Federal Motor Carrier Safety Regulations pertaining<br> to the loss of foot, leg, hand or arm?</span>
                </div>
                <div class="checkBoxes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>