<div class="container-fluid mt-3">
    <h2 class="bg-secondary">DRIVER EXPERIENCE & QUALIFICATION</h2>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="contenteditable" data-field="id">Liscenses</th>
      <th scope="col">State</th>
      <th scope="col">Liscense No.</th>
      <th scope="col">Type</th>
      <th scope="col">Experation date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h4 onclick="window.print();"> Print </h4>
</div>
    
    
    <div class="contact container-fluid">
	<div class="row">
      <div class="col-md-12">
        <div class="card bg-faded">
          <form class="form-horizontal" action="send" method="POST">
          <fieldset>
            <legend class="text-center">Contact me</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-10">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="email">Your E-mail</label>
              <div class="col-md-10">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Your message</label>
              <div class="col-md-10">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div style="text-align:center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
<button onclick="myFunction()">Click me</button>