<div class="html2pdf__page-break"></div>
<div class="contact container-fluid">
   <h2 class="bg-secondary">INQUIRY TO PAST EMPLOYERS</h2>
   <h3 style="border:2px solid black">APPLICANT:SIGN AT THE BOTTOM BLANK,ONLY</h3>
   <div class="row">
      <div class="col-12">
         <h4>FROM: Prospective Employer</h4>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <h6>Company</h6>
         </div>
         <div>
            <input class="form-control" type="text">
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <h6>Individual</h6>
         </div>
         <div>
            <input class="form-control" type="text">
         </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
         <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="">Street Address</span>
            </div>
            <input type="text" placeholder="Street" class="form-control">
         </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
         <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="">City State Zip</span>
            </div>
            <input type="text" placeholder="City" class="form-control">
            <input type="text" placeholder="State" class="form-control">
            <input type="text" placeholder="Zip Code" class="form-control">
         </div>
      </div>
      <div class="col-12">
         <h6>Phone <u>989 893 3505</u>&nbsp &nbsp  Fax <u>989 893 3151</u></h6>
      </div>
      <div class="col-12">
         <h4>TO: Previous Employer</h4>
         <div class="col-12" style="text-align:left">
            <p>Personal Manager:</p>
            <p>The person named below has applied to this company for employment. Your firm is listed by the applicant as a past employer. Kindly reply to this inquiry respecting this applicant. As you will note from the waiver stated below, the applicant has waived any claim of liability against your company (and its agents) for information submitted in response to this inquiry.
            </p>
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <h6>Name of the applicant</h6>
         </div>
         <div>
            <input class="form-control" type="text">
         </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
         <div class="mystyles">
            <h6>Work requested</h6>
         </div>
         <div>
            <input class="form-control" type="text">
         </div>
      </div>
      <div class="col-12">
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Social Security No.</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="html2pdf__page-break"></div>
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Start date listed by applicant</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">End date listed by applicant</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-12 mb-2">
         <div class="mystyles">
            <p>Is this correct?</p>
         </div>
         <div>
            <div class="form-group">
               <select class="form-control" id="sel1">
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </div>
      </div>
      <div class="col-12">
         <p class="mystyles" style="text-align:left">If no, what were the applicant's dates of employment?
      </div>
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Start date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
      <div class="col-md-6 col-12 ">
         <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">End date</span>
            </div>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
         </div>
      </div>
   </div>
</div>
<div class="col-12 mb-2">
   <div class="mystyles">
      <p>2. Why did this individual leave your employment?</p>
   </div>
   <div>
      <div class="checkBoxes" style="width:100%">
         <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1">
               <option>Resigned</option>
               <option>Discharged</option>
               <option>Laid off</option>
            </select>
         </div>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-12 mb-2">
         <div class="mystyles">
            <h6>What were the duties and responsibilties of this individual?</h6>
         </div>
         <div class="checkBoxes">
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1">
               <label class="form-check-label" for="inlineCheckbox1">Driver</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2">
               <label class="form-check-label" for="inlineCheckbox2">Office</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3">
               <label class="form-check-label" for="inlineCheckbox3">Shop</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3">
               <label class="form-check-label" for="inlineCheckbox3">Dock</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3">
               <label class="form-check-label" for="inlineCheckbox3">Forklift Driver</label>
            </div>
         </div>
      </div>
   <div class="col-12 mb-2">
   <div class="mystyles">
      <p>If Driver</p>
   </div>
   <div>
      <div class="checkBoxes" style="width:100%">
         <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1">
                <option></option>
               <option>OTR Tractor trailer</option>
               <option>Straight Truck</option>
               <option>Twin-Trailer</option>
               <option>Bus</option>
            </select>
         </div>
      </div>
      </div>
      </div>
      
</div>

</div>
<center><button onclick="myFunction()" class="btn-primary">PRINT</button><center>