<% include ./partials/header.ejs %>

<% include ./partials/page1.ejs %>
<% include ./partials/page2.ejs %>
<% include ./partials/page3.ejs %>
<% include ./partials/page4.ejs %>
<% include ./partials/page5.ejs %>
<% include ./partials/page6.ejs %>


<center>
<button onclick="myFunction()" class="btn-primary">Apply </button>
<center>
<div class="loading-page" id="loader" style="display:none">
    <div class="counter">
        <p>loading</p>
        <h1>0%
            <!--h1.abs loading
h1.abs.color loading-->
        </h1>
        <hr/>
    </div>
</div>
   
<% include ./partials/footer.ejs %>