* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.container-fluid{
    text-align:center;
    /* line-height:0.2; */
}

.location{
    line-height:0.2;
}

.instructions{
    margin:0 auto;
    line-height:1.6
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

  .alert-info{
      text-align:left;
  }
  .form-check-inline .form-check-input{
      margin:auto;
      width: 18px; height: 18px;
  }
  .checkBoxes{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .noWrap .input-group{
    flex-wrap: nowrap
  }